// Colors
$primary-color: #000000;
$secondary-color: #4f4f4f;
$primary-bg-color: #dadada;
$secondary-bg-color: #cfcfcf;
$shadow-color: #0000001a;
$white: #ffffff;

// Fonts
$fontEudoxus: var(--font-eudoxus-sans);

// Screen Breakpoints
$desktop-xl: 1920px;
$desktop-l: 1440px;
$desktop-m: 1200px;
$desktop-s: 1024px;
$tablet-l: 992px;
$tablet-m: 768px;
$tablet-s: 640px;
$mobile-l: 576px;
$mobile-m: 480px;
$mobile-s: 320px;