@import "../app/styles/index.scss";

.homepageContainer {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  @include max($tablet-l) {
    gap: 15px;
  }
  @include max($tablet-s) {
    gap: 10px;
  }
}
