@import "../../styles/index.scss";

.layoutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  .navContainer {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: $primary-bg-color;
    box-shadow: 0 2px 4px $shadow-color;
  }
  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }

}
